/* color palette from <https://github.com/vuejs/theme> */
*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  color:#33373F;
  background: #fff;
  transition: color 0.5s, background-color 0.5s;
  line-height: 1.6;
  font-family: Microsoft YaHei, sans-serif;
  font-size: 14px;
  font-weight: 400;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

ul, li {
  padding: 0;
  list-style: none;
}

img {
  vertical-align: top;
}